﻿@model ErrorViewModel

@{ 
    ViewBag.Title = "Error occured";
}
<div class="alert alert-danger">
    <h3>
        An error occured while processing your request. The support
        team is notified and we are working on the fix
    </h3>
</div>

<div class="alert alert-info alert-link">
    <h5>Please contact us on test@test.be</h5>
</div>

<hr />

<div class="card col-12">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <h3>Exception Details:</h3>
        </li>
        <li class="list-group-item">
            <div class="alert alert-danger">
                <h5>Exception Path</h5>
                <hr />
                <p>@Model.ErrorMessage.ExceptionPath</p>
            </div>
        </li>
        <li class="list-group-item">
            <div class="alert alert-danger">
                <h5>Exception Message</h5>
                <hr />
                <p>@Model.ErrorMessage.ExceptionMessage</p>
            </div>
        </li>
        <li class="list-group-item">
            <div class="alert alert-danger">
                <h5>Exception Stack Trace</h5>
                <hr />
                <p>@Model.ErrorMessage.StackTrace</p>
            </div>
        </li>
    </ul>
</div>