﻿@model HttpStatusCodeViewModel

@{
    ViewBag.Title = "Not Found";
    var statuscode = Model.HttpStatusCode;
}

<div class="alert alert-danger">
    <h5>Exception Path</h5>
    <hr />
    <p>@statuscode.Path</p>
</div>

<div class="alert alert-danger">
    <h5>Exception Message</h5>
    <hr />
    <p>@statuscode.ErrorMessage</p>
</div>

<div class="alert alert-danger">
    <h5>Exception Stack Trace</h5>
    <hr />
    <p>@statuscode.QS</p>
</div>

<a asp-action="index" asp-controller="home">
    Click here to navigate to the home page
</a>
