﻿@model HomeDetailsViewModel

@{
    ViewBag.Title = "Employee";
    var photoPath = $"~/Images/{Model.Employee.PhotoPath ?? "noimage.png"}";
}

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Employee.Name</h1>
            </div>

            <div class="card-body text-center">
                <img class="card-img-top imageThumbnail" src="@photoPath"
                     asp-append-version="true" />

                <h4>Employee ID: @Model.Employee.Id</h4>
                <h4>Email: @Model.Employee.Email</h4>
                <h4>Department: @Model.Employee.Department</h4>
                <h4>Bank Account Number: @Model.Employee.BankAccountNumber</h4>

            </div>

            <div class="card-footer text-center">
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back</a>
                <a asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Employee.Id" class="btn btn-warning">Edit</a>
                <a asp-controller="Home" asp-action="DeleteShure" asp-route-id="@Model.Employee.Id" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/CustomScript.js"></script>
}
