﻿@model int

@{
    ViewBag.Title = "404 - Not Found";
}

<div class="card col-12" >
    <ul class="list-group list-group-flush">
        <li class="list-group-item list-inline-item">
            <div class="alert alert-danger my-1">
                <h4>404 Not Found Error :</h4>
            </div>
        </li>
        <li class="list-group-item list-inline-item">
            <div class="alert alert-danger my-1">
                <h5>Employee with ID = @Model cannot be found</h5>
            </div>
        </li>
        <li class="list-group-item">
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-success text-center" style="width:100%">
                Click here to see the list of all employees
            </a>
        </li>
    </ul>
</div>



